/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/09/2020, 20:04:34
    Author     : andre
*/
@font-face {
    font-family: fibre;
    src: url('../fonts/fibre-font.woff');    
}
tr:nth-child {background-color: #90EE90;}
tr:hover {background-color: darkolivegreen;}

table, th, td {
    border: .5px black;
    border-collapse: collapse;
    align-self: center;
    position: relative;
    margin: auto;
}
th, td {
    border-bottom: 1px solid;
    padding: 15px;
    text-align: left;
    -webkit-text-stroke-color: #6B8E23;
    font-size: 30px;
    color: antiquewhite;
   text-align: center;
}
.switch-area{
    margin: auto;
    width: 50%;
    height: 100%;
}

.invisible{
    display: none
}

.visible{
    display: block
}

.btnFunc{
    margin: auto;
    align-self: center;
    text-align: center;
    background: white;
    border-radius: 25px;
    border: 2px solid #6B8E23;
    padding: 10px;
    /*    width: 30%;
        height: 20%;*/
    opacity: 92%;
    color: #90EE90;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #6B8E23;
    font-size: 20px; 
}

*.btn{
    margin: auto;
    align-self: center;
    text-align: center;
    background: white;
    border-radius: 25px;
    border: 2px solid #6B8E23;
    padding: 10px;
    width: 30%;
    height: 20%;
    opacity: 92%;
    color: #90EE90;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #6B8E23;
    font-size: 20px;
}

*.label{
    font-size: 22px;
    padding: 5px;
    size: 100%;
    text-align: left;
}

*.inputText{

}

#leftDiv{
    margin:0;
    align-self: center;
}

#mainLogin{
    align-self: center;
    text-align: center;
    font-family: fibre;
    background: #9ACD32;
    border-radius: 25px;
    border: 6px solid #6B8E23;
    padding: 20px;

    opacity: 92%;
    color: aliceblue;


    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#titleSpan{
    color: white;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #6B8E23;
    font-size: 120px;
}

.regularDiv {
    align-self: center;
    text-align: center;
    align-content: center;
    font-family: fibre;
    background: #9ACD32;
    border-radius: 25px;
    border: 6px solid #6B8E23;
    padding: 20px;
    opacity: 92%;
    color: aliceblue;
}

#mainDiv {
    align-self: center;
    text-align: center;
    font-family: fibre;
    background: #9ACD32;
    border-radius: 25px;
    border: 6px solid #6B8E23;
    padding: 20px;
    width: 100% - 10px;
    height: 100%;
    opacity: 92%;
    color: aliceblue;
}

#cadastrarBtn{
    margin: auto;
    text-height: 50%;
    align-self: center;
    text-align: center;
    background: white;
    border-radius: 25px;
    border: 6px solid #6B8E23;
    padding: 20px;
    width: 50%;
    height: 100%;
    opacity: 92%;
    color: #90EE90;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #6B8E23;
    font-size: 30px;
}

#formCadastro{
    text-align: left; 
}

#middleDiv{
    margin:auto;
    align-self: center;
    text-align: center;
    font-family: fibre;
    background: #9ACD32;
    border-radius: 25px;
    border: 6px solid #6B8E23;
    padding: 20px;
    width: 30%;
    height: 100%;
    opacity: 92%;
    color: aliceblue;
}

#rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
}